<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @page {
            margin: 2cm; /* 1 inch margin on all sides */
        }

        body {
            font-family: sans-serif;
        }

        h1 {
            text-align: center;
        }

        h2 {
            font-size: medium;
            font-weight: bold;
            text-align: center;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div style="page-break-after: always;" id="page_1">
        <h1>4FOX BUSINESS SOLUTIONS PVT. LTD</h1>
        <div>
            <h2>SERVICE - AGREEMENT</h2>
            <p>THIS INDENTING AGENCY AGREEMENT executed at Kanpur on this day the 2024-05-09</p>
        </div>
        <div>
            <h2>BY AND BETWEEN</h2>
            <p>M/S 4 FOX BUSINESS SOLUTIONS PVT.LTD, a Company incorporated and registered under Companies Act of 1956 having its registered Office at 122/728, Sai Complex, Shastri Nagar Kanpur Nagar -208005 (Uttar Pradesh), through its Director or Employee herein after referred to as the Service provider (Which expression shall, unless it be repugnant to the context or meaning thereof, be deemed to include its successors and assigns).</p>
        </div>
        <div>
            <h2>AND</h2>
            <p>{ClientName} a duly registered trader firm and having its office at {clientAddress} by its OWNER herein after referred called “Seller” (Which expression shall unless repugnant to the context or meaning thereof, be deemed to mean and include, in the event of the Seller being:</p>
            <p>The Parties wish to enter into this Agreement to document and record their mutual understandings and agreements in relation to the terms and conditions on which Service Provider shall make available Service provider Business to Seller and Seller shall avail Service Provider Business)</p>
            <p>Now therefore, in consideration of the mutual promises and other consideration, the sufficiency of which is acknowledged, the Parties, intending to be legally bound, agree as follows:</p>
        </div>
        <div>
            <h2>Basic Overview:</h2>
            <p>Service Provider is inter alia in the business of developing and operating e-commerce businesses for independent third party retailers and manufacturers and providing for those entities / persons Service Provider’s proprietary technology, website design and development (Account Creation & Brand Registry, Listing Management, Order Processing, Inventory Management, Buy Box Maintenance, A-Z Claim Management, Feedback & Reviews, Shipment Creation, Account Reconciliation to enable those entities / persons to offer e-commerce to their customers and such services include Platform Services (as defined hereunder) and Transaction Support Services (as defined hereunder) (“Service Provider Business”));</p>
            <p>Seller has approached Service Provider to avail Services for the purpose of Sellers’ Business and Service Provider has agreed to make provide remote assistance support to Kushagta and will manage E-COMMERCE ACCOUNT MANAGEMENT.</p>
            <p>The scopes of the services are given below. Detailed description of each service and TAT for each is mentioned in the Standard operating procedure attached. Having its registered office in 122/728, Sai Complex, Shastri Nagar Kanpur Nagar -208O05.</p>
        </div>
    </div>
    <div>
        <h2>Service Provider Services:</h2>
        <h3>1. Listing products on above Mentioned e-commerce Portals.</h3>
        <p>Sellers have raw feeds which will be made available to the Remote Assistant who can use multiple mechanisms listing loader, flat file formats and 1x1 methods to upload products. 100 listing per month per portal.</p>
        
        <h3>2. Update Price and Quantity.</h3>
        <p>Price and quantity will be made available through excels and calls to Remote Assistants. Sellers will be informed in case of reducing inventory or pricing errors. They will also build rules as per seller requirement.</p>
        
        <h3>3. Feedback Management</h3>
        <p>Service provider will be proactively working on removal of negative feedback, which is not as per Amazon’s policies and other portals and do efforts to get positive feedbacks and reviews.</p>
        
        <h3>4. A-Z Claim Management</h3>
        <p>Service Provider will represent cases against A-Z claims filed by the buyer either to get them closed or funded by Amazon India and other portals.</p>
        
        <h3>5. FBA Shipment Creation</h3>
        <p>Remote Assistants will assist sellers in creation of shipments, taking CARP appointments and tracking shipments on behalf of the seller.</p>
        
        <h3>6. Deals & Promotion to Boost sales</h3>
        <p>Service provider will manage deals & promotions as a when, they are active on market places to boost sales.</p>
        
        <h3>7. Buyer – seller communication</h3>
        <p>Remote assistants will respond to buyer and market places CS queries within 24 hrs. as per portal’s policy on contact response time. SPs will provide information in requisite formats and in time to protect sellers from negative ratings.</p>
        
        <h3>8. Advertisement Program Management*(Sponsor Ads)</h3>
        <p>Campaign creation based on right product selection, Optimization of ads by keeping low ACOS and high sales. This mechanism to be used for advertising your products for increasing the visibility of targeted product by applying a certain bid amount with the daily budget on campaigns. Campaign Budget extra**.</p>
        
        <h3>9. Customer Rating To Seller</h3>
        <p>We will work for good customer ratings; customer will contact through mail & call regularly to share their feedback.</p>
        
        <h3>10. Initial Consultation</h3>
        <p>a. Engaging with the brand to understand its goals, budget, and product offering.</p>
        <p>b. Assess the brand's readiness to enter the respective market place with the right insights and market positioning.</p>
        
        <h3>11. Brand Registry</h3>
        <p>Brand will be registered on Amazon after seller permission he/she will have to provide required documents.</p>
        
        <h3>12. Brand and Account Setup</h3>
        <p>Creation of brand identity with their logo, product images, and other branding materials on their respective market places.</p>
        
        <h3>13. Brand Analysis</h3>
        <p>a. Conduct market research to identify competitors, target audience, and potential demand for the brand's products on Market places.</p>
        <p>b. Performa SWOT (Strengths, Weaknesses, Opportunities, Threats) analysis to help the brand understand its internal and external factors that may impact its online presence.</p>
        <p>c. Brand ASN Determination, Analyzing and Optimization of same.</p>
        
        <h3>14. Marketing and Promotion Strategy</h3>
        <p>a. Create, budget and manage marketing campaigns with initial traffic and sales and further forecasting. b. Budget to be allocated by brand. Service provider commit brand visibility which leads to final sales.</p>
        <p>b. Budget to be allocated by brand.</p>
        <p>c. Service provider commit brand visibility which leads to final sales.</p>
        
        <h3>15. Performance Metrics Setup</h3>
        <p>Key performance indicators (KPIs) to track and measure the brand's success on the e-commerce platform, such as conversion rates, click-through rates, ACOS and ROAS.</p>
        
        <h3>16. Buy Box Sales Boosting</h3>
        <p>Service Provider will try to keep Buy Box high. Sales will boost by the various methods explained at the time of agreement signing. In the event of that service provider is an experience-based company and dealing with international clients, if the result will not as per plan refund will not be provided. In case for boosting sales or other scenario extra cost would be incurred to the seller.</p>
        
        <h3>17. Logistics</h3>
        <p>Services provider will not responsible for logistics, so as the packing charges are handled by Vendor. Specifically for international market places, logistics and custom clearance will be managed by the brand.</p>
        
        <h3>18. Market place policy</h3>
        <p>Service provider will follow standard operating procedure as per the market place rules, not responsible for any product or brand if not approved by the market place policies. So as, in terms of registration, some channels go live immediately, while others might take extra time as per the TAT of the respective marketplace. If disagreement between the marketplace and the vendor, Service provider won't be liable to refund the invoiced amount.</p>
        
        <h3>19. Infringement</h3>
        <p>We will be filling Infringement per day. Before this seller has to authorise them on their company letter pad & this document must be shared with us.</p>
        
        <h3>20. Area to be managed by the seller</h3>
        <p>1. Providing Documents for Registration-Asper market place requirement.</p>
        <p>2. Providing Pricing SKU's Details- Basic Excel sheet (provided by 4Fox) having SKU Numbers, Detailed description of it, images as required and respective prices. Updating Prices hanging offers if any.</p>
        <p>3. Inventory Updates- Updating 4Fox for inventory availability.</p>
        <p>4. Logistic Management-Keeping SKU available, Packing and handling to the logistic partner informing 4fox once the order is dispatched.</p>
        
        <h3>21. Compliance and Legal – (not required I have already mentioned below)</h3>
        <p style="page-break-after: always;">Ensure the brand follows market place's policies and complies with any legal and tax requirements.</p>

        <h3>22. CONSIDERATION AND PAYMENT TERMS</h3>
        <p style="margin-left: 1rem;">Payments to be made by Seller.</p>
        <div style="margin-left: 2rem;">
            <p>1.0 Inconsideration of the provision of Service Provider Business by the Service Provider, the Seller shall pay to the Service Provider Service Fees which shall be calculated in the manner as specified in the Commercial Terms and the account setup fees to be paid upfront at the time of signing / renewing the agreement. The day on which complete documentation are handed over, the same day is considered the monthly invoice cycle</p>
            <p>1.1 Service Fees for any additional services shall be as set out in the Commercial Terms.</p>
            <p>1.2 Parties agree that the details of terms memorialized by the Commercial Terms are dynamic in nature and will evolve or vary as the operating, promotional, marketing and business   environment of the Service Provider or user behavior on the Platform changes and evolves and therefore the Commercial Terms will be adjusted or revised from time to time or sometime occasionally or frequently by the Parties as necessary or appropriate during the Term of the Agreement to accurately reflect the evolution of the aforesaid environment and conditions. Such revisions would be with the mutual consent of the Parties which consent can be oral, written or implied. For any oral consent, Service Provider may on reasonable basis confirm such oral consent within reasonable time from such consent and through written records including through electronic communications.</p>
            <p>1.3 All amounts paid or payable under the agreement shall be non-refundable.</p>
            <p>1.4 Payment Terms:</p>
            <p style="margin-left: 1rem;">1. Service Provider shall have the right to receive the Services Fees from the amounts due to the Seller under Payments Facilitation Services. To the extent the Service Provider is unable to receive the Service Fees from the Payment Facilitation Services as aforesaid; the Seller shall make all payments within seven (7) business days of receipt of the relevant invoice from the Service Provider.</p>
            <p style="margin-left: 1rem;">2. Seller shall be entitled to make any deduction in accordance with applicable law and shall provide the necessary tax deduction certificates to the Service Provider.</p>
            <p>1.5 Each Party shall be responsible for any and all taxes on its business, and taxes based on its net income or gross receipts. However, Service Provider shall be entitled to additionally charge service tax or any other indirect or transaction taxes as applicable on one or more of the Service Provider Business and Service Fees.</p>
        </div>

        <h3>23. Changes must be in writing & non waiver of terms & conditions</h3>
        <p>This Agreement contains the entire understanding and between the parties hereto with respect to the subject matters hereof and supersedes all oral understandings and promises relating thereto, no addition, modifications or amendments of this Agreement and no waiver of any terms and conditions of this Agreement shall be binding unless made in writing and duly executed by both parties. No waiver by the either party whether expresses or implied. Of any provision of this Agreement or of any breach or default thereof, shall constitute waiver of such provision or of any other provision of this Agreement.</p>
        <p>1. PERIOD</p>
        <p style="margin-left: 1rem;">This Agreement shall be effective from the date of this Agreement and shall be in force for a period of 5/3 (Month/year) commencing from this 2024-05-09 date/Month/Year. If seller wants to continue their services 15 days prior notice is required via e-mail for the same.</p>
        <p>2. JURISDICTION</p>
        <p style="margin-left: 1rem;">The parties hereto agree that the courts only at Kanpur shall have exclusive jurisdiction and the parties specifically agree to exclude the jurisdiction of any other court.</p>
    </div>
    <div style="margin-top: 2rem;">
        <p>E-MAIL: 4foxbusinesssolutions@gmail.com, 4foxmanagement@gmail.com</p>
        <p>BANK ACCOUNT DETAIL:-</p>
        <ul>
            <li>BANK NAME: HDFC BANK</li>
            <li>ACCOUNT Name: 4Fox Business Solutions Private Limited</li>
            <li>ACCOUNT NO: 50200087884201</li>
            <li>IFSC CODE: HDFC0003942</li>
            <li>BRANCH: SHASTRI NAGAR</li>
        </ul>
        <p>CONTACT: +91-8299577288, 7355063198, 9696851788</p>
        <div style="display: flex;">
            <div style="height: 100px; flex-grow: 1;">
                <p>(4 Fox Business solutions Pvt. Ltd.)</p>
                <p style="margin-top: 3rem;">------------------------------------</p>
            </div>
            <div style="height: 100px; flex-grow: 1;">
                <p>({ClientName})</p>
                <p style="margin-top: 3rem;">------------------------------------</p>
            </div>
        </div>
    </div>
</body>
</html>