@media(min-width: 992px) {
    .homePage {
        max-width: 720px !important;
    }
}

.homePage {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: calc(calc(4.5rem + 1px) + 1rem)!important;

    .myNavbar {
        position: fixed;
        left: 0rem;
        top: 0rem;

        .baseStyleTab {
            border: 1px solid white;
            border-radius: 8px;
            margin: 1rem;
            padding: 0.5rem;
        }

        .baseStyleTab:hover {
            border-color: tomato;
        }

        .searchTab {
            height: 3.5rem;
            width: 3.5rem;
            cursor: pointer;
        }

        .sendTab {
            height: 3.5rem;
            width: 3.5rem;
            cursor: pointer;
        }

        .logoutTab {
            height: 3.5rem;
            width: 3.5rem;
            cursor: pointer;
        }
    }

    .tab {
        flex: 1;
    }
}