.loginPage {
    height: 100vh;
    position: relative;
    padding: 0.75rem 0;

    .loginCard {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);

        h1 {
            font-size: 3rem;
            margin-bottom: 0.5rem;
        }

        h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        .logoBox {          
            width: max-content;
            border-radius: 0.5rem;
            padding: 0.5rem;
            background-color: whitesmoke;

            img {
                height: 75px;
            }
        }
        .logoBox:hover {
            cursor: pointer;
        }
    }
}